<html>
  <head>
    <title>404</title>
    <link rel="icon" href="/img/messi.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{>header}}
    {{!-- Este errormessage al hacerlo asi geenrico me permite que este se amolde a cualquiera de las 2 paginas de error que quiera --}}
<p>{{errorMessage}}</p> 
</div> 
    {{>footer}}
  </body>
</html>