<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/messi.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <div class="main-content">
    {{!-- AGREGAMOS UN PARTIAL --}}
    {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
     <img class="portrait" src="/img/messiPrincipal.webp" />
     </div>
    {{>footer}}
  </body>
</html>