{{! PARTIAL ---> Permite crear templates que son parte de una web aun mayor. Partes de una web, que la podemos reutilizar en diferentes lugares de la pagina mayor.
    SON UNA PARTE DE UNA WEB, NO UN HTML ENTERO }}
<footer>
  <p>Created by {{name}}</p>
</footer>